p {
	  font-family: "Times New Roman", Georgia, Serif;
	color: green;
}
.error{
color:red;
}

.success {
    padding: 20px;
    background-color: #00FF00; /* Red */
    color: white;
    margin-bottom: 15px;
}